/* @import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@theme{
    --color-main: #E37298;
    --color-bg: #fffdefa;
    --color-accent: #D9E6F6;
    --color-text: #50443A;
}


body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    background-color: var(--color-bg);
}


.list-title{
    font-size: 16px;
    font-weight: 800;
}

.list-desc{
    font-size: 13px;
    font-weight: 600
}

@layer utilities{
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn .8s ease forwards;
}

